body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana;
    background-color: #f8f8f8;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 6%;
    background: beige; 
    /* background-color: #333; */
    color: black;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    z-index: 100;
    margin-bottom: 250px;

}
#main-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 280px;
}
#main-head h3{
    font-weight: 700;
    font-size: 25px;
}
header #navigation{
    display: flex;
}
nav ul li a{
    font-size: 20px;
    font-weight: 600;
    color: rgb(28, 28, 134);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li a:hover{
    border-bottom: 5px solid rgb(28, 28, 134);
    font-size: 23px;

}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
nav ul li{
    list-style-type: none;
   
}


/* -----------------contact section------------ */
#contact{
    border: 2px solid black;
    border-radius: 40px;
    padding: 40px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: 150px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
#contact form{
    
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
#contact h2{
    font-size: 40px;
    font-weight: 800;
    color: rgb(28, 28, 134);
}
#contact p{
    font-size: 20px;
}
#contact input, #contact textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
#contact-form #name,
#contact-form #email,
#contact-form #message{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: rgb(28, 28, 134);
    background: rgba(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
    height: 60px;
    border: 1px solid rgb(28, 28, 134);
    margin-bottom: 30px;
}
#contact-form label{
    color: rgb(28, 28, 134);
    font-size: 20px;
}
#contact button{
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    padding: 0px 20px; 
    font-weight: bolder;
    color: rgb(28, 28, 134);
    background-color: #FFD700;
    border: 2px solid #032B44;
    border-radius: 15px;
}
#contact button:hover{
    background-color: rgb(28, 28, 134);
    color: #FFD700;
}
#contact button a{
    text-decoration: none;
    color: rgb(28, 28, 134);
}
#contact button a:hover{
    color: rgb(28, 28, 134);
}
/* ----social links----- */
.social-links{
    margin-top: 50px;
    font-size: 30px;
    color: rgb(28, 28, 134);
}
.social-links a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #FFD700;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* -------------------------------footer-------------------------------------- */
footer{
    color: white;
    background-color: black;
    margin-top: 200px;
}
#foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    padding-top: 20px;
    width: 100%;
    height: 350px;
}
#about-foot{
    width: 250px;
}
#contact-foot img{
     height: 20px;
}
#contact-foot ul li{
    list-style-type: none;
    
}
#contact-foot ul li a{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
}

#link-foot ul li{
    list-style-type: none;
}
#link-foot ul li a{
    text-decoration: none;
    color: white;
    line-height: 1.5;
    text-align: left;
}

#social-foot ul li{
     list-style-type: none;
}
#social-foot ul li a{
    color: white;
    text-decoration: none;
    text-align: left;
}
.social-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.social-icon img{
    width: 20px;
    height: 20px;
}

#border hr{
    color: white;
    height: 2px;
    width: 80%;
    background-color: white; 
    text-align: center;
}
footer .copyright p{
    text-align: center;
    padding: 20px;
}